<html>
<head>
<title>activity_bacon__main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(106,135,89); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_bacon__main.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s3"> 
</span><span class="s0">&lt;RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/activity_bacon__main&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:background=</span><span class="s2">&quot;#616161&quot;</span><span class="s0"> 
    </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0"> 
    </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
    </span><span class="s1">android:paddingRight=</span><span class="s2">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
    </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0"> 
    </span><span class="s1">tools:context=</span><span class="s2">&quot;com.example.android.withasideofbacon.Bacon_Main&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;ImageView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/interior_image&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:src=</span><span class="s2">&quot;@drawable/bacon_interior&quot;</span><span class="s0"> 
        </span><span class="s1">android:scaleType=</span><span class="s2">&quot;centerCrop&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentTop=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentStart=</span><span class="s2">&quot;true&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/quot&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/interior_image&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;20sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#FFFFFF&quot;</span><span class="s0"> 
        </span><span class="s1">android:textStyle=</span><span class="s2">&quot;italic&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;'The best bloody rashers this side of the universe!!'&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/gordon&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/quot&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;15sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#FFFFFF&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;Gordon Ramsbottom&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;ImageView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/pin&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;23dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;40dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;5dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:src=</span><span class="s2">&quot;@drawable/blue_pin&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@+id/gordon&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s2">&quot;true&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/address&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_toRightOf=</span><span class="s2">&quot;@id/pin&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/gordon&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;20sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#FFFFFF&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;The Square, End of the Universe&quot;</span><span class="s0"> 
        /&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;ImageView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/telephone&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;25dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;25dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/pin&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;5dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;5dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:src=</span><span class="s2">&quot;@drawable/telephone&quot;</span><span class="s0"> 
        /&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/telephone_number&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_toRightOf=</span><span class="s2">&quot;@id/telephone&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/address&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;5dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;20sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#FFFFFF&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;07841 254367&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/opening_hours&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/telephone&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;5dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#FFFFFF&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;25sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;Opening Hours:&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/monday&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/opening_hours&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#000000&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;20sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;Monday - Friday&quot;</span><span class="s0"> 
        /&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/eight_am&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/monday&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;18sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#000000&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;8am - 5pm&quot;</span><span class="s0"> 
        /&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/saturday&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/eight_am&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;20sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#000000&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;Saturday&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/nine_am&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@+id/saturday&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#000000&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;18sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;9am- 4pm&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/sunday&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/nine_am&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#000000&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;20sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;Sunday&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/sunday&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;#000000&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;18sp&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;End of the Universe!&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
 
 
 
 
 
 
</span><span class="s0">&lt;/RelativeLayout&gt;</span><span class="s3"> 
</span></pre>
</body>
</html>